@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

@font-face {
    font-family: "Segoe UI Local";
    src: url("../app/fonts/segoe-ui-light.ttf") format("truetype");
    font-weight: 300;
}

.segoe {
    font-family: "Segoe UI Local";
}

body {
    background-attachment: fixed;
    background-image: url(../../public/back3.png);
}

.fade-in {
    animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
